# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Database / Logs
# ===============================
*.db
*.log

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Large / Archive Files
# ===============================
*.zip
*.tar
*.gz
bjm-usbv-ktk
